.input-cadastro {
    border: 1px solid #94a3b8;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    background-color: rgba(255, 254, 254, 0.8); 
}

.body-area {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}




.conteudo-cadastro{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    min-width: 280px; 
    background-color:#568edd;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid blue;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

#form-titulo {
    display: block;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
}



#botao-cadastro {
    width: 200px;
    display: block;
    margin: 20px auto 0 auto;
    border: none;
    border-radius: 8px;
    padding: 12px;
    background-color:blueviolet;
    color: white;
    margin-top: 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#botao-cadastro:hover {
    background-color: #1eb48f;
 }