* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: #1e293b;;
    padding: 20px;
}

.formulario-conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-weight: bold;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    width: 90%;
    max-width: 400px;
    min-width: 280px; 
    background-color:#475569;
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#formulario-titulo {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;   
}

.input-login {
    border: 1px solid #94a3b8;
    border-radius: 8px;
    width: 100%;
    padding: 12px;
    outline: none;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.8); 
}

input:focus {
    border: 2px solid #3b82f6;
}

#botao-form {
    width: 200px;
    align-self: center;
    border: none;
    border-radius: 8px;
    padding: 12px;
    background-color:#3b82f6;;
    color: white;
    margin-top: 15px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

#botao-form:hover {
    background-color: #2563eb;
}

#mensagem-erro {
    color: #d93025;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center;
    min-height: 20px;
    margin-top: -10px;
}