* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.sidebar {
background-color: blueviolet;
display: flex;
flex-direction: column;
width: 15rem;
height: 80rem;
padding: 20px;
border-radius: 15px;
font-weight: bold;
 box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);





}

.botao-sidebar {
    padding: 20px;
    margin-bottom: 14px;
    text-decoration: none;
    color: white;


}
#titulo-inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}