* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;


}

.texto-conteudo {
    color: black;
    font-size: 1.1rem;
    line-height: 1.6;
    font-weight: normal;
}


